@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #212121;
    background-color: #f6f6f6;
}

input, textarea, .conference-details {
    outline: 0;
    background: #fff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    transition-duration: all 0.3s;
}

input:focus, textarea:focus {
    border-color: #ff7373;
}

form textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

.login-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form .form {
    width: 360px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #ff7373;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #ff7373;
}

.btn-edit {
    background: #5adbb5 !important
}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete {
    padding: 0.75rem 1rem;
    font-size: 14px;
    border-radius: 4px;
}

.btn-add {
    background-color: #00a762;
}

.btn-delete {
    background-color: #b72424;
}

.btn-logout, .btn-login {
    font-size: 16px;
    text-decoration: none;
    padding: 0.5rem 1.25rem;
    color: #212121;
    transition: all 0.3s;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    border: none
}

.btn-logout:hover, .btn-login:hover {
    color: #fff;
    background-color: #ff7373;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table > thead > tr > th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}

table > tbody > tr > td {
    padding: 0.75rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
}

#defaultLayout {
    display: flex;
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    padding: 2rem;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.alert {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.language-picker {
    padding: 5px 10px;
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    cursor: pointer;

}

.language-picker:hover {
    background-color: #e6e6e6;
}

.language-picker option {
    cursor: pointer;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}


